<div class="backdrop">
  <div class="header"></div>
  <div class="appContent"></div>
  <div class="splash">
    <h1>Welcome to Simterest!</h1>
    <br>
    <h3>An app inspired by Pinterest to allow users to share and show off their interestes!</h3>
    <br>
    <p>Use the links at the top to sign up/in!</p>
  </div>
</div>
