<div class="screen">
</div>
<div class="modal">
  <div class="modal-content auth-modal">
      <h2>Sign In!</h2>
      <form class="user_form" action=" <%= session_url %>" method="post">
        <%= form_auth_token %>
        <%= render "partials/user_form" %>
      </form>
      <p>
        <a href="<%= new_user_url %>">Don't have an account?  Sign up!</a>
      </p>
      <p>
        <a href="/auth/facebook">Sign in with Facebook!</a>
      </p>
  </div>
</div>
