<div class="screen">
</div>
<div class="modal">
  <div class="modal-content">
    <div class="source-header">
      <p>
        Upload a Pin
      </p>
      <button class="close">X</button>
    </div>
    <div class="device-input">
      <input class="source-device-input"
             type="file"
             name="pin[image]">
      <button class="next">Next</button>
    </div>
  </div>
</div>
