<div class="screen"></div>
<div class="modal">
  <div class="modal-content">
    <div class="main-pin-view">
      <div class="pin-info">
        <h3>Pinned by: <a href="#<%= user.id %>"><%= user.escape("username") %></h3></a>
        <p>
          <%= pin.escape("description") %>
        </p>
      </div>
      <img src="<%= pin.escape("image_url") %>" alt="" />
    </div>
    <div class="pin-comments">

    </div>
  </div>
</div>
