<div class="pin-wrapper">
  <div class="pin-image">
    <img src="" alt="" />
  </div>
  <div class="pin-title">
    <%= pin.escape("title") %>
  </div>
  <div class="pin-pins">
    <%= pin.escape("board_id") %>
  </div>
</div>
<div class="overlay-light"></div>
