<div class="screen">
</div>
<div class="modal">
  <div class="modal-content">
    <div class="source-header">
      <p>
        Pin from a website
      </p>
      <button class="close">X</button>
    </div>
    <div class="url-input">
      <input type="text" name="pin[source_url]" placeholder="http://...">
      <button class="next">Next</button>
    </div>
  </div>
</div>
