<div class="screen">
</div>
<div class="modal">
  <div class="modal-content">
    <div class="source-header">
      <p>
        Pin from
      </p>
    </div>
    <div class="url-source">
        <p>
          The Web
        </p>
    </div>
    <div class="device-source">
      <p>
        Your Device
      </p>
    </div>
  </div>
</div>
