<div class="screen">
</div>
<div class="modal">
  <div class="modal-content">
    <div class="pin-image-holder">
      <img class="pin-image" src="" alt="IMAGE" />
      <div class="pin-description-holder">
        <textarea id="pin_description"
                  name="pin[description]"
                  rows="8"
                  cols="40"
                  placeholder="Add a description"></textarea>
      </div>
    </div>
    <div class="pin-boards-options">
      <div class="pin-boards-top">
        <h3>Select a board!</h3>
      </div>
      <div class="pin-boards">
        <ul class="pinned-boards-list"></ul>
        <ul class="pin-boards-list"></ul>
      </div>
    </div>
  </div>
</div>
