<div class="screen"></div>
<div class="modal">
  <div class="modal-content">
    <div class="main-pin-view">
      <img src="<%= pin.escape("image_url") %>" alt="" />
    </div>
    <div class="pin-comments">

    </div>
  </div>
</div>
