<div class="pin-wrapper">
  <button class="edit-pin">Edit</button>
  <button class="pin-it">Pin</button>
  <div class="pin-image">
    <img src="" alt="" />
  </div>
  <div class="pin-title">
    <%= pin.escape("description") %>
  </div>
  <div class="pin-pins">
    <%= pin.escape("board_id") %>
  </div>
</div>
<div class="overlay-light"></div>
