<nav>
  <% if (signed_in?) { %>
    <a class="profile-link" href="#<%= current_user.id %>">Your Profile</a>
  <% } else { %>
      <a href="<%= new_session_url %>">Sign In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
  <% };  %>
</nav>
