<h3><%= board.escape("title") %></h3>
<div class="large-pin">
  <img src="http://lorempixel.com/output/food-q-c-640-480-9.jpg" alt="" />
</div>
<div class="pin-thumbs">
  <img src="http://lorempixel.com/output/food-q-c-640-480-9.jpg" alt="" />
  <img src="http://lorempixel.com/output/food-q-c-640-480-9.jpg" alt="" />
  <img src="http://lorempixel.com/output/food-q-c-640-480-9.jpg" alt="" />
</div>
<button class="edit">Edit</button>
<div class="overlay-light"></div>
