<div class="content-wrapper">
  <div class="main-content">
    <div class="board-show">
      <h1><%= board.escape("title") %></h1>
      <p>
        <%= board.escape("description") %>
      </p>
    </div>
  </div>
</div>
