<% if (user.isSignedIn()) { %>
  <a class="profile-link" href="/#<%= user.id %>">Your Profile</a>
  <button class="sign-out">Sign Out</button>
<% } else { %>
    <a href="#session/new">Sign In</a>
<% } %>
