<div class="screen"></div>
<div class="modal">
  <div class="modal-content">
    <div class="sign-in">
      <h2>Sign Up</h2>

      <form class="sign-up">

        <label>
          Username
          <input type="text" name="user[username]">
        </label>

        <br>

        <label>
          Password
          <input type="password" name="user[password]">
        </label>

        <br>

        <button class="sign-up">Sign Up</button>
      </form>
    </div>
  </div>
</div>
