<ul class="user-nav">
  <li class="user-nav-item">
    <div class="nav-boards">
      <%= user.boards().length %>
      Boards
    </div>
  </li>
  <li class="user-nav-item">
    <div class="nav-pins">
      <%= user.pins().length %>
      Pins
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      Likes
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      Followers
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      Following
    </div>
  </li>
</ul>
