<ul class="user-nav group">
  <li class="user-nav-item">
    <div class="nav-boards">
      <%= user.boards().length %>
      <br>
      Boards
    </div>
  </li>
  <li class="user-nav-item">
    <div class="nav-pins">
      <%= user.pins().length %>
      <br>
      Pins
    </div>
  </li>
  <!-- <li class="user-nav-item">
    <div>
      0
      <br>
      Likes
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      0
      <br>
      Followers
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      0
      <br>
      Following
    </div>
  </li> -->
</ul>
