<ul class="user-nav">
  <li class="user-nav-item">
    <div>
      Boards
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      Pins
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      Likes
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      Followers
    </div>
  </li>
  <li class="user-nav-item">
    <div>
      Following
    </div>
  </li>
</ul>
