<div class="screen">
</div>
<div class="modal">
  <div class="modal-content">
    <form class="user" method="post">
      <ul class="form-list">
        <li>
          <div>
            <label for="user_full_name">Name</label>
            <input id="user_full_name" type="text" name="user[full_name]">
          </div>
        </li>
        <li>
          <div>
            <label for="user_avatar">Avatar</label>
            <input id="user_avatar" type="file" name="user[avatar]">
          </div>
        </li>
        <li>
          <div>
            <label for="user_username">Username</label>
            simterest.herokuapp.com/ <input id="user_username" type="text" name="user[username]">
          </div>
        </li>
        <li>
          <div>
            <label for="user_description">About You</label>
            <textarea id="user_description" name="user[description]" rows="8" cols="40"></textarea>
          </div>
        </li>
        <li>
          <div>
            <label for="user_location">Location</label>
            <input id="user_location" type="text" name="user[location]">
          </div>
        </li>
      </ul>
    </form>
    <button class="save">Save</button>
    <button class="cancel">Cancel</button>
  </div>
</div>
