/* line 5, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
ul.public-board-index {
  width: 100%;
  background: #eee;
  padding: 20px 30px 40px 30px;
}

/* line 11, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
li.new-board {
  height: 277px;
}

/* line 15, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
li.board {
  position: relative;
  width: 215px;
  padding: 5px;
  border-radius: 5px;
  float: left;
  margin: 0 5px;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

/* line 26, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
li.board:hover {
  cursor: pointer;
}

/* line 30, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
li.board:hover .overlay-light {
  opacity: .2;
}

/* line 34, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
li.board:hover .overlay-dark {
  opacity: .2;
}

/* line 38, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
div.large-pin > img {
  width: 215px;
  height: 145px;
  border-radius: 3px;
}

/* line 44, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
div.pin-thumbs > img {
  width: 69px;
  height: 69px;
  border-radius: 3px;
}

/* line 50, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
li.board > button.edit {
  width: 100%;
  text-align: center;
  background: #ccc;
  padding: 10px 0;
  border-radius: 3px;
  background: linear-gradient(#fff, #f0f0f0);
  border: 1px solid #ccc;
  font-family: sans-serif;
  font-size: 14px;
}

/* line 62, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
li.board > button.edit:hover {
  cursor: pointer;
}

/* line 66, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
form.board > button {
  padding: 5px 15px;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid #aaa;
}

/* line 73, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
ul.form-list > li {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 20px 0;
  vertical-align: middle;
  display: block;
}

/* line 81, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
ul.form-list > li > h3 {
  width: 130px;
  margin: 0;
  float: left;
}

/* line 87, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
ul.form-list > li > div {
  margin-left: 140px;
  display: block;
}

/* line 92, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
form.board > button:hover {
  cursor: pointer;
}

/* line 96, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
form.board > button.submit {
  background: red;
  color: white;
  float: right;
}

/* line 106, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/boards.scss */
form.board > button.cancel {
  float: right;
}
/* line 5, /Users/appacademy/Desktop/simterest-master/app/assets/stylesheets/users.scss */
div.user-show {
  width: 100%;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


html, body, h1, h2, h3, p, div,
ul, li, button, a, section, nav, main, input, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  color:inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

input {
  background: #f3f3f3;
}

input:focus {
  background: #fff;
}

textarea {
  background: #f3f3f3;
  resize: vertical;
}

textarea:focus {
  background: #fff;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.overlay-light {
  text-align: center;
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background: white;
  opacity: 0;
  transition: opacity .25s;
}

.overlay-dark {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background: black;
  opacity: 0;
  transition: opacity .25s;
}

div.screen {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: grey;
  opacity: .4;
}

div.modal {
  display: block;
  z-index: 2;
  background: #fff;
  width: 500px;
  margin: 20% 30%;
  position: fixed;
  text-align: left;
  border-radius: 3px;
  padding: 10px;
}
