<label for="user_username">Username:</label>
<input id="user_username"
       type="text"
       name="user[username]">
<br>
<label for="user_password">Password:</label>
<input id="user_password"
       type="password"
       name="user[password]">
<br>
<button class="auth">Submit</button>
