/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, h1, h2, h3, p, div,
ul, li, button, a, section, nav, main, input, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
  color:inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

input {
  background: #f3f3f3;
}

input:focus {
  background: #fff;
  outline: 2px solid #ad0000;
}

textarea {
  background: #f3f3f3;
  resize: vertical;
}

textarea:focus {
  background: #fff;
  outline: 2px solid #ad0000;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.overlay-light {
  text-align: center;
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background: white;
  opacity: 0;
  transition: opacity .25s;
}

.overlay-dark {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background: black;
  opacity: 0;
  transition: opacity .25s;
}

div.screen {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: grey;
  opacity: .4;
}

div.modal {
  display: block;
  z-index: 2;
  background: #fff;
  margin: 10% 20%;
  position: absolute;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 0 1px 2px #ccc;
}

div.modal-content {
  width: 700px;
}

div.auth-modal {
  text-align: center;
  width: 300px;
}

div.auth-modal > h2 {
  margin: 20px 0;
}

form.user-form > label, input {
  background: #eee;
  margin-bottom: 20px;
  height: 20px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

form.user-form > input {

}

button.auth {
  background: red;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  color: white;
  margin-bottom: 20px;
}

div.header {
  margin: 0 auto;
  border-bottom: 2px solid grey;
  background: linear-gradient(#ddd, #f3f3f3);
}

nav.header {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}

div.search-bar {
  float: left;
  position: absolute;
  top: 5px;
  margin-left: 200px;
  width: 580px;
  height: 20px;
}

input.query {
  width: 500px;
  background: #fff;
  color: #000;
  font-size: 16px;
  height: 25px;
}

button.search {
  background: red;
  color: white;
  padding: 7px 15px 5px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div.search-results {
  display: none;
  position: absolute;
  top: 30px;
  width: 500px;
  background: #eee;
  padding: 5px;
  z-index: 10;
}

li.search-item {
  padding: 5px 0;
}

li.search-item:hover {
  background: #ddd;
}

button.profile {
  float: right;
  background: linear-gradient(#fff, #f0f0f0);
  padding: 10px 30px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button.sign-out {
  background: red;
  color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px 20px;
}
