// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.pin-index {
  width: 100%;
  background: #eee;
  padding: 20px 30px 40px 30px;
}


li.pin {
  position: relative;
  width: 220px;
  padding: 5px;
  border-radius: 5px;
  float: left;
  margin: 0 5px;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

div.pin-image {
  width: 100%;
  height: 212px;
}

div.pin-title {
  width: 90%;
  height: 30px;
  margin: 0 auto;
}

div.pin-pins {
  width: 90%;
  height: 40px;
  margin: 0 auto;
}

li.new-pin {
  height: 282px;
}

li.pin:hover {
  cursor: pointer;
}

li.pin:hover .overlay-light {
  opacity: .2;
}

li.pin:hover .overlay-dark {
  opacity: .2;
}
