// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.pin-index {
  width: 100%;
  background: #eee;
  padding: 20px 30px 40px 30px;
}
