// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.backdrop {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(image_path("background.jpg"));
}

div.splash {
  width: 400px;
  padding: 30px;
  background: #bbb;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 20%;
  box-shadow: 0 3px 2px 0 black;
}
